
<soft-tok-page></soft-tok-page>

<h1>Hola ajuste FINO 6</h1>


<soft-tok-button [primary]="true" (onClick)="generarTabla()"></soft-tok-button>

<h1>Hola ajuste FINO 6</h1>


<app-formulario-signals></app-formulario-signals>



<div class="grid grid-cols-5 grid-rows-5 gap-4">
  <div class="row-span-4">1</div>
  <div >2</div>
  <div class="col-start-2 row-start-2">3</div>
  <div class="col-start-2 row-start-3">4</div>
  <div class="col-start-2 row-start-4">5</div>
  <div class="col-span-2 row-span-4 col-start-3 row-start-1">6</div>
  <div class="row-span-5 col-start-5 row-start-1">7</div>
  <div class="col-span-4 row-start-5">8</div>
</div>


<router-outlet></router-outlet>
